{% extends "base.html" %} 
{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}

<div class="pagetitle">
  <h1>Profile</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Users</li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile Card -->
      {% include "users/includes/profile-card.html" %}
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#profile-overview"
              >
                Overview
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-edit"
              >
                Edit Profile
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-change-email"
              >
                Change Email
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-change-password"
              >
                Change Password
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-settings"
              >
                Settings
              </button>
            </li>
          </ul>
          <div class="tab-content pt-2">
            <!-- Profile Overview Form -->
            {% include "users/includes/profile-overview.html" %}

            <!-- Edit Profile Form -->
            {% include "users/includes/edit-profile-form.html" %}

            <!-- Change Email Form -->
            {% include "users/includes/change-email-form.html" %}

            <!-- Change Paswword Form -->
            {% include "users/includes/change-password-form.html" %}

            <!-- Profile Settings Form -->
            {% include "users/includes/settings.html" %}
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
