{% load static %}

{% include "tickets/includes/add-comment-form.html" %}

<!-- All Comment Section -->
<h5 class="mt-5">All Comments</h5>

{% for comment in ticket_comments %}
<div class="card">
  <div class="card-comment">
    <div class="comment-header">
      {% if comment.created_by %}
        <img src="{% if comment.created_by.avatar %}{{ comment.created_by.avatar.url }}{% else %}{% static "img/profile.png" %}{% endif %}"
        alt="Profile"
        class="rounded-circle asignee-avatar"/>
      {% endif %}

      {% if comment.created_by.get_full_name %}
        {{ comment.created_by.get_full_name }}
      {% else %}
        {{ comment.created_by }}
      {% endif %}

      <span class="mx-1">&bullet;</span>
      {{ comment.created_at }}
    </div>

    <div class="mt-3">
      {{ comment }}
    </div>

  </div>
</div>

{% empty %}
<div class="card-comment">
  <div>There are no comments yet.</div>
</div>
{% endfor %}
<!-- End Comment Section -->

