<div class="modal fade" id="EditTicketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Files</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form class="row g-3" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                <div class="modal-body mx-1">
                    <div class="col-12">
                        {{ticket_form}}
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary" name="edit-ticket">Save</button>
                </div>

            </form>

        </div>
    </div>
</div>