{% load widget_tweaks %}

<div class="accordion" id="accordionFlushExample">

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Filters
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">

      <div class="accordion-body">

        <form hx-get="{% url "all-tickets" %}" hx-target="div.table-container" hx-swap="outerHTML" hx-indicator=".progress" class="form-inline row g-3">

            <div class="col-lg-2 col-md-12">
              <div class="form-floating">
                {% render_field filter_form.ticket_number class="form-control" id="floatingTicket" placeholder="Ticket Number" %}
                <label for="floatingTicket">Ticket Number</label>
              </div>
            </div>

            <div class=" col-lg-2 col-md-12">
              <div class="form-floating">
                {% render_field filter_form.summary class="form-control" id="floatingSummary" placeholder="" %}
                <label for="floatingSummary">Summary</label>
              </div>
            </div>

            <div class=" col-lg-2 col-md-12">
              <div class="form-floating">
                {% render_field filter_form.issue_type class="form-control" id="floatingIssueType" aria-label="Issue Type" %}
                <label for="floatingIssueType">Issue Type</label>
              </div>
            </div>

            <div class=" col-lg-2 col-md-12">
              <div class="form-floating">
                {% render_field filter_form.status class="form-control" id="floatingStatus" aria-label="Status" %}
                <label for="floatingStatus">Status</label>
              </div>
            </div>

            <div class=" col-lg-2 col-md-12">
              <div class="form-floating">
                {% render_field filter_form.created_at class="form-control" id="floatingDate" aria-label="Created At" %}
                <label for="floatingDate">Created At</label>
              </div>
            </div>

            {% if request.user.role != 3 %}
              <div class="col-lg-2 col-md-12">
                <div class="form-floating">
                  {% render_field filter_form.created_by class="form-control" id="floatingTicket" placeholder="Created By" %}
                  <label for="floatingTicket">Created By</label>
                </div>
              </div>
            {% endif %}

            <div class="col-lg-2 col-md-12">
              <div class="form-floating">
                {% render_field filter_form.assigned_agent class="form-control" id="floatingTicket" placeholder="Assigned Agent" %}
                <label for="floatingTicket">Assigned Agent</label>
              </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <button type="submit" class="btn btn-primary btn-sm p-3" name="ticket-filter">Submit</button>
                <button type="reset" class="btn btn-secondary btn-sm p-3">Reset</button>
            </div>

        </form>

      </div>

    </div>

  </div>

</div>