<h3 class="pt-3 pe-5">Summary: {{ selected_ticket.summary }}</h3>

<!-- Ticket Action Buttons -->
{% include "tickets/includes/agent-action-buttons.html" %}
{% include "tickets/includes/user-action-buttons.html" %}
<hr class="mt-3 d-none d-lg-block">

<!-- Attachment List -->
<div class="mt-4"><span class="fw-semibold">Attachments: </span>
  {% for attachment in selected_ticket.attachments.all %}
    <span class="text-bg-secondary rounded me-1 attachment-badge fw-bold">
      <a href="{{ attachment.url }}" target="_blank" class="attachment-label">
        {{ attachment.attachment_name }}
      </a>

      {% if request.user == selected_ticket.created_by %}
        <!-- Delete Attachment trigger modal -->
        <a href="#" data-bs-toggle="modal" data-bs-target="#attachment{{ attachment.id }}Modal">
          <i class="bi bi-x-lg delete-attachment-label"></i>
        </a>
      {% endif %}
    </span>

      <!-- Delete Attachment Modal -->
      {% include "tickets/includes/modals/delete-attachment-modal.html" %}

  {% empty  %}
    No attachment

  {% endfor %}

</div>

<div class="mt-4 pe-5"><span class="fw-semibold">Issue Type: </span>{{ selected_ticket.get_issue_type_display }}</div>
<div class="mt-3 pe-5"><span class="fw-semibold">Description: </span>{{ selected_ticket.description }}</div>