{% load static %}

<div class="mb-2">
  <h5 class="card-title">Ticket Details</h5>
  <div class="badge rounded-pill text-bg-success">{{ selected_ticket.get_status_display }}</div>
  <div class="mt-3"><span class="fw-semibold">Last updated: </span><i class="bi bi-calendar"></i> {{ selected_ticket.updated_at|date:"m/d/Y g:i A" }}</div>
  <div class="mt-3"><span class="fw-semibold">Created on: </span><i class="bi bi-calendar"></i> {{ selected_ticket.created_at|date:"m/d/Y g:i A" }}</div>
  <div class="mt-3"><span class="fw-semibold">Department: </span>{{ selected_ticket.created_by.department }}</div>

</div>

<hr class="">

<div class="mb-2">
  <h5 class="card-title pt-1">Assignees:</h5>
  {% if selected_ticket.assigned_agent %}
  <img src="{% if selected_ticket.assigned_agent.avatar %}{{ selected_ticket.assigned_agent.avatar.url }}{% else %}{% static "img/profile.png" %}{% endif %}" alt="Profile" class="rounded-circle asignee-avatar" />
  {% endif %}
  {{ selected_ticket.assigned_agent.get_full_name }}
</div>

<hr class="">

<div class="mb-2">
  <h5 class="card-title pt-1">Created By:</h5>
  {% if selected_ticket.created_by %}
  <img src="{% if selected_ticket.created_by.avatar %}{{ selected_ticket.created_by.avatar.url }}{% else %}{% static "img/profile.png" %}{% endif %}" alt="Profile" class="rounded-circle asignee-avatar" />
  {% endif %}
  {{ selected_ticket.created_by.get_full_name }}
</div>

<hr class="">

<div class="mb-2">
  <h5 class="card-title pt-1">Contact Details</h5>
  <div><span class="fw-semibold">Email: </span>{{selected_ticket.created_by.email}}</div>
  <div><span class="fw-semibold">Phone: </span>{{selected_ticket.created_by.phone}}</div>
</div>