<h3 class="pt-3 pe-5">Summary: {{ selected_ticket.summary }}</h3>
<hr class="mt-3">
<a href="#" class="btn btn-success btn-sm mt-1" data-bs-toggle="modal" data-bs-target="#AddAttachmentModal">
  <i class="bi bi-check-circle"></i> Accept
</a>
<a href="#" class="btn btn-primary btn-sm mt-1" data-bs-toggle="modal" data-bs-target="#AddAttachmentModal">
  <i class="bi bi-paperclip"></i> Upload
</a>
<a href="#" class="btn btn-primary btn-sm mt-1" data-bs-toggle="modal" data-bs-target="#EditTicketModal"><i class="bi bi-pencil-square"></i> Edit</a>
<a href="#" class="btn btn-primary btn-sm mt-1"><i class="bi bi-arrow-right-circle"></i> Transfer</a>

<!-- Upload Attachment Modal -->
{% include "tickets/includes/upload-attachment-modal.html" %}

<!-- Edit Ticket Modal -->
{% include "tickets/includes/edit-ticket-modal.html" %}




<div class="mt-4 pe-5"><span class="fw-semibold">Attachments: </span>
  {% if selected_ticket.attachments.all %}
  {% for attachment in selected_ticket.attachments.all %}
    <span class="text-bg-secondary rounded me-1 attachment-badge fw-bold">
      <a href="{{ attachment.url }}" target="_blank" class="attachment-label">
        {{ attachment.attachment_name }}
      </a>

      <!-- Delete Attachment trigger modal -->
      <a href="#" data-bs-toggle="modal" data-bs-target="#attachment{{ attachment.id }}Modal">
        <i class="bi bi-x-lg delete-attachment-label"></i>
      </a>
    </span>

    <!-- Delete Attachment Modal -->
    {% include "tickets/includes/delete-attachment-modal.html" %}

  {% endfor %}


  {% else %}
  No attachment
  {% endif %}
</div>
    
<div class="mt-4 pe-5"><span class="fw-semibold">Issue Type: </span>{{ selected_ticket.get_issue_type_display }}</div>
<div class="mt-3 pe-5"><span class="fw-semibold">Description: </span>{{ selected_ticket.description }}</div>