
<div class="modal fade" id="AddAttachmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Files</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form class="row g-3" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                <div class="modal-body">
                    <div class="col-12">
                        <label class="form-label">{{ attachment_form.attachment.label }}</label>
                        {{ attachment_form.attachment }}
                        {% for field, error in attachment_form.errors.items %}
                        {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary" name="add-attachment">Upload</button>
                </div>

            </form>

        </div>
    </div>
</div>