{% extends "base.html" %} 

{% load static %}

{% block title %}My Tickets{% endblock title %} 

{% block content %}
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Home</a></li>
            <li class="breadcrumb-item active">Tickets</li>
        </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">All Tickets</h5>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Summary</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Created By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ticket in tickets %}
                                        <tr>
                                            <th scope="row"><a href="{% url "ticket-details" ticket.ticket_number %}">{{ticket.ticket_number}}</a></th>
                                            <td>{{ticket.summary}}</td>
                                            <td>{{ticket.description}}</td>
                                            <td>{{ticket.status}}</td>
                                            <td>{{ticket.created_by.get_full_name}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

<!-- End #main -->
{% endblock content %}