{% extends "base.html" %} 
{% load render_table from django_tables2 %}

{% block title %}My Tickets{% endblock title %} 

{% block content %}
  <div class="pagetitle">
    <h1>Tickets</h1>
    <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Home</a></li>
      <li class="breadcrumb-item active">Tickets</li>
    </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            
            <h5 class="card-title">My Tickets</h5>

            <!-- Ticket Details Section -->
            {% include "tickets/includes/ticket-filter-form.html" %}

            {% render_table table %}

          </div>
        </div>
      </div>

    </div>
  </section>

<!-- End #main -->
{% endblock content %}