{% extends "base.html" %} 

{% load static %}

{% block title %}Create New Ticket{% endblock title %} 

{% block content %}
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url "all-tickets" %}">Tickets</a></li>
            <li class="breadcrumb-item active">Create Ticket</li>
        </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <div class="row">

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Create Ticket</h5>
                        <form class="row g-3" action="{% url "create-ticket" %}" method="POST" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}

                                {% for form_field in ticket_form %}
                                    <div class="col-12">
                                        <label for="{{ form_field.auto_id }}" class="form-label">{{form_field.label}}</label>
                                        {{ form_field }}
                                        {{ form_field.errors }}
                                    </div>
                                {% endfor %}

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Submit Ticket</button>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>

        </div>
    </section>

<!-- End #main -->
{% endblock content %}