{% extends "base.html" %} 

{% load static %}

{% block title %}Ticket Details{% endblock title %} 

{% block content %}
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url "all-tickets" %}">Tickets</a></li>
            <li class="breadcrumb-item active">{{selected_ticket.ticket_number}}</li>
        </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <div class="row">

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ticket Details</h5>
                        {% for i in num %}
                        <p>{{ request.user.user.tickets }}</p>
                        <p>{{ selected_ticket.summary }}</p>
                        <p>{{ selected_ticket.description }}</p>
                        <p>{{ selected_ticket.created_by }}</p>
                {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section>

<!-- End #main -->

{% endblock content %}
