{% extends "base.html" %} 

{% block title %}Dashboard{% endblock title %} 

{% block content %}
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
        
      <div class="col-lg-12">

              <h5 class="card-title">Welcome to the Dashboard page, {{ request.user.get_full_name }}!</h5>

      </div>

    </div>

    {% if request.user.role == 3 %}
      {% include "core/includes/customer_dashboard.html" %}
    {% elif request.user.role == 1 or request.user.role == 2 %}
      {% include "core/includes/agent_dashboard.html" %}
    {% endif %}

  </section>
  
<!-- End #main -->
{% endblock content %}
